@model ShopManagement.Application.Contracts.OrderAgg.DetailCustomerOrderVM

@{
    ViewData["Title"] = "مشتری";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">مشخصات مشتری</h4>
</div>

<div class="modal-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>نام</th>
                <th>آدرس</th>
                <th>شماره موبایل</th>
        </thead>
        <tbody>
            
                <tr class="text-center">
                    <td>@Model.Id</td>
                    <td>@Model.Fullname</td>
                    <td>@Model.Address</td>
                    <td>@Model.MobilePhone</td>
                </tr>
            
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>